.header-FirstPage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-Images-firstPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.images-FirstPage {
  width: 300px;
  margin: 40px;
  transition: 0.5s;
}

.images-FirstPage:hover {
  transition: 1s;
  width: 350px;
}